@font-face {
    font-family: cinvisible;
    src: url('fonts/invisible.otf');
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    max-width: 100vw;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #7c7c7c;
}

::-webkit-scrollbar-thumb {
    background: #140733;

}

::-webkit-scrollbar-thumb:hover {
    background: #dd3c3c;
}

header {
    color: #ffffff;
    position: fixed;
    background-color: #ffd900;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    top: -10px;
    z-index: 9999;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

header .logo {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#logo{
    margin-right: 5px;
}
header .hecontact {
    padding-right: 20px;
    display: flex;

    justify-content: space-between;
}

.imglogoanim {
    animation: rotate 1s linear;
}

.imglogocerrar {
    animation: rotateinvert 1s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(365deg);
    }
}

@keyframes rotateinvert {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-365deg);
    }
}

header .logo img {
    width: 100%;
}

#main {
    padding-top: 70px;
    transition: margin-left 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
}

#secarriba {
    background-color: rgb(255, 63, 63);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

#secarriba li {
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0097FF;
    overflow-x: hidden;
    transition: 1s;
    margin-top: 70px;
    box-sizing: border-box;
}

.sidebar ul,
.sidebar li {
    margin: 0;
    padding: 0;
    list-style: none inside;
}

.sidebar li {
    margin-bottom: 5px;
    margin-left: 5px;
    width: 50%;
}

.sidebar ul {
    margin-top: 10px;
    display: block;
    width: 95%;
    min-width: 200px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.sidebar li:hover {
    background-color: rgb(65, 238, 43);
    border-radius: 5px;
}

.sidebar li:hover a {
    color: #474747;
}

.sub-menu {
    display: none;
}

h1 {
    color: #f90;
    font-size: 180%;
    font-weight: normal;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

#catlist {
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-content: center;
}

#catlist div {
    margin: 10px;
    padding: 5px;
}

#catlist div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.circulito {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #fff344;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    box-shadow: 0 1px 5px 0.01px rgba(0, 0, 0, 0.5);
}

.textos {
    font-family: cinvisible;
    color: white;
    position: fixed;
    margin-top: 120px;
    z-index: 999999;
}

@media(max-width: 640px) {
    .text {
        font-size: 20px;
    }
}

.slider {
    margin-top: 3px;
    width: auto;
    overflow: hidden;
    margin-bottom: 10px;
}

.slider ul {
    padding: 0;
    margin: 0;
    display: flex;
    animation: slideranim 40s infinite;
    width: 500%;
    box-shadow: 0 1px 5px 0.01px rgba(0, 0, 0, 0.5);
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

#articulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#articulo p {
    width: 50%;
}

#misionvision {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#misionvision h3 {
    text-align: center;
}

#misionvision p {
    width: 90%;
    padding: 5px;

}

#logocarrito {
    background-image: url("icons/shopvacio.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert();
    width: 30px;

}

#logocarrito:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#cartnum {
    top: 23px;
    right: 22px;
    position: fixed;
    color: red;
    font-size: 10px;
}
footer {
    background-color: #F1F1F1;
    text-align: center;
    width: 98%;
    padding: 10px;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-contendor {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 40px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.footer-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}

.footer-bottom {
    background-color: #e6e6e6;
    color: #202020;
    padding: 10px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #303030;
    text-decoration: none;
    margin-left: 5px;
}

@keyframes slideranim {
    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }
}